$white: #fff;
$primary-pink: #ff69b4;
$primary-dark: #000;
$primary-default: #332c32;
$primary-light: #ddd;
$secondary-default: #e30613;
$secondary-dark: #bd000b;
$secondary-light: #e30613;
$blue-dark: #4320a8;
$suport-color-01: #5e595a;
$suport-color-02: #27292d;
$suport-color-03: #b18808;
$suport-color-04: #fd4d1e;
$suport-color-05: #bb1d64;
$suport-color-06: #5c1373;
$suport-color-07: #220219;
$suport-color-08: #2b6f6d;
$system-alert-default: #e32000;
$system-alert-light: #fee7e5;
$system-warning-default: #ffe01a;
$system-warning-light: #fefbc1;
$system-success-default: #2c5a18;
$system-success-light: #e6f6ec;
$darkgrey-dark: #111;
$darkgrey-medium: #555;
$darkgrey-light: #999;
$lightgrey-medium: #ccc;
$lightgrey-light: #ddd;
$lightgrey-lighter: #f2f2f2;
$lines-dark: #111;
$link-default-small: 0.75rem;
$link-default-medium: 0.88rem;
$link-default-large: 1rem;
$link-hover-small: 0.75rem;
$link-hover-medium: 0.88rem;
$link-hover-large: 1rem;
$headline-h1: 2rem;
$headline-h2: 1.5rem;
$headline-h3: 1.25rem;
$headline-h4: 1.12rem;
$paragraph-large-bold: 1rem;
$paragraph-large-medium: 1rem;
$paragraph-large-regular: 1rem;
$paragraph-medium-semibold: 0.88rem;
$paragraph-medium-medium: 0.88rem;
$paragraph-medium-regular: 0.88rem;
$paragraph-small-bold: 0.75rem;
$paragraph-small-medium: 0.75rem;
$paragraph-small-regular: 0.75rem;
$cta-large: 1rem;
$cta-medium: 0.88rem;
$cta-small: 0.69rem;
$price-from: 0.75rem;
$price-to: 1.12rem;
$card-hover: 16px 0 8px rgba(0, 0, 0, 0.08);
$card-default: 4px 0 2px rgba(0, 0, 0, 0.04);

$primary-gold: #e3c963;
$primary-text-dark: #1d1e2c;
$background-blue-black: #232946;
$background-categorie-hover: #e0e9f3;
$background-footer: #292f33;
$background-bottom-footer: #17171b;
$blue-active: #291660;
$blue-hover: #0b1658;
$blue-dark-text: #1b0e41;
