@import '../_media-queries.scss';
@import '../_variables.scss';


.flexRow {
  &--editorial-containerBanner2, 
  &--editorial-containerBanner3, 
  &--editorial-sectionBanners4and5,
  &--editorial-sectionBannersAndVideo,
  &--editorial-sectionLastBanners {
    @include container-main;

    padding: 0 1rem;
    margin-bottom: 2rem;
    @include breakpoint("mobile") {
      padding: 0 0.5rem;
    }
  }
}

.flexRowContent {
  &--editorial-sectionBanners4and5 {
    .stretchChildrenWidth {
      width: auto !important;
      max-width: 850px;
      min-width: 350px;
      padding: 10px;
    }
  }
  &--editorial-containerBanner3 {
    @include breakpoint("mobile") {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.flexCol {
  &--editorial-aboutTitle {
    @include container-main;
  }

  &--editorial-containerTextAboutBanner2,
  &--editorial-containerTextAboutBanner3 {
    padding: 2rem;
    .flexColChild {
      height: max-content !important;
      padding: 0 0.5rem;
    }
    @include breakpoint("mobile") {
      padding: 0.4rem;
    }
  }

  &--editorial-containerAboutBanner4,
  &--editorial-containerAboutBanner5 {
    .flexColChild {
      height: auto !important;
      padding: 0 0.5rem;
    }
  }

  &--editorial-containerAboutBanner5 {
    max-width: 450px;
  }

  &--editorial-containerAboutBanner6,
  &--editorial-containerAboutBanner7,
  &--editorial-containerAboutVideo {
    max-width: 350px;
    .flexColChild {
      height: auto !important;
      padding: 0 0.5rem;
    }
  }

  &--editorial-containerAboutBanner8,
  &--editorial-containerAboutBanner9,
  &--editorial-containerAboutBanner10 {
    padding: 0 0.5rem;
    .flexColChild {
      height: auto !important;
    }
  }
}
