.menuItem {
  .styledLinkContainer {
    &--homeBottomSectionMenu {
      margin: 0;
    }

    .styledLinkContent {
      &--homeBottomSectionMenu {
        color: #332c32;
        font-size: 16px;
        line-height: 24px;
        
        &:hover {
          color: #291660;
          font-weight: 500;
        }
      }

    }
  }
}
